@import './reset.scss';
@import './typography.scss';
@import './fonts.scss';
@import './variable.scss';
@import './container.scss';
@import './component/button.scss';
@import './component/header.scss';
@import './component/footer.scss';
@import './component/main.scss';


* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: $text_p;
    font-weight: 400;
    background: $color_main;
    color: white;
    height: 100vh;
}

.active {
    color: $color_1;
}

.common_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.img {
    max-width: 100%;
    height: auto;
}