$text_h1: 70px;
$text_h2: 64px;
$text_h2_big: 72px;
$text_h3: 15px;
$text_btn: 18px;
$text_p: 22px;
$text_a: 17px;



$text_h1_table: 50px;
$text_h2_table: 42px;
$text_h2_big_table: 50px;
$text_h3_table: 13px;
$text_btn_table: 16px;
$text_p_table: 18px;
$text_a_table: 14px;



$text_h1_mobile: 36px;
$text_h2_mobile: 28px;
$text_h2_big_mobile: 36px;
$text_h3_mobile: 12px;
$text_btn_mobile: 14px;
$text_p_mobile: 16px;
$text_a_mobile: 13px;