.btn {
    background: $color_1;
    font-size: $text_btn;
    padding: 15px 20px;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 1s;

    &:hover {
        background: $color_1_hover;
    }

    &:hover {
        background: $color_1_active;
    }
}